.Container_middle
{
    display: flex;
    justify-content: space-between;
}
 
.left
{
    width: 500px;
    background-color:#EEF1F6; 
     
}
.Container_middle_para
{
    display: flex;
    align-items: center;
    justify-content: center;
}